.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.container__title {
  @include title-text;
}

.clients__item {
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 4 * 15px) / 2);

  @media screen and (min-width: 780px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  display: flex;
  fill: #afb1b8;
  border: 1px solid $color-svg;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition-property: fill, border-color;
  @include transition;

  &:hover,
  &:focus {
    fill: $color-hoverfocus;
    border-color: $color-hoverfocus;
  }
}
.clients__icon {
  height: 60px;
  width: 106px;
}
