.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  @media screen and (min-width: 1px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    // align-items: center;
    margin-left: auto;
    &--flex {
      display: flex;
      align-items: center;
    }
  }
}

.navigation__item {
  position: relative;
}
.navigation__link {
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $color-heding;
  transition-property: color;
  @include transition;
  &:focus,
  &:hover {
    color: $color-hoverfocus;
  }
}
.navigation__link--current {
  color: $color-hoverfocus;

  &::after {
    position: absolute;
    bottom: -1%;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-hoverfocus;
  }
}

/* контакты */

.contact {
  @media screen and (min-width: 1px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 68px;
  }

  &--flex {
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: center;
      margin-left: auto;
    }
  }
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.contact__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 0px;
  @media screen and (min-width: 1200px) {
    padding: 32px 0px;
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $color-paragraf;
  transition-property: color;
  @include transition;

  &:hover,
  &:focus {
    color: $color-hoverfocus;
  }
}
.contact__icon {
  fill: currentColor;
  margin-right: 8px;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
