.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0 auto;

  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header_480x400_1x.jpg) no-repeat center / cover;
  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_480x400_2x.jpg) no-repeat center / cover;
  }
  @media screen and (min-width: 768px) {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_768x400_1x.jpg) no-repeat center / cover;
    @media screen and (min-resolution: 2dppx) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header_768x400_2x.jpg) no-repeat center / cover;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header_1600x600_1x.jpg) no-repeat center / cover;
    @media screen and (min-resolution: 2dppx) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header_1600x600_2x.jpg) no-repeat center / cover;
    }
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  color: $color-white;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $color-white;
  background: #2196f3;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  padding: 10px 32px;

  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  @include transition;

  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
