.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  min-width: 73px;

  .filters__item:not(:last-child) {
    margin-right: 8px;
  }
}
.project {
  justify-content: center;
}

.filters__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  outline: none;
  color: $color-heding;
  background: #f5f4fa;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  @include transition;
  &:focus,
  &:hover {
    color: $color-white;
    background-color: $color-hoverfocus;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
/*          проекты              */
.project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $color-heding;
  max-width: 370px;
  margin-bottom: 4px;
}
.project__element {
  padding: 20px 24px;
  border-right: 1px solid $oolor-border;
  border-left: 1px solid $oolor-border;
  border-bottom: 1px solid $oolor-border;
}
.project__text {
  font-size: 16px;
  line-height: 1.87;
  color: $color-paragraf;
}

.project__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  display: block;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.project__link {
  overflow: hidden;
  transition-property: box-shadow;
  @include transition;

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    .project__deskription,
    .project__deskription {
      transform: translateY(0%);
    }
  }
}

.project__inner {
  position: relative;
  overflow: hidden;

  width: 370px;
  height: 294px;
}
.project__img {
  display: block;

  object-fit: cover;
}
.project__deskription {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 24px;

  background-color: $color-hoverfocus;
  color: $color-white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  overflow: auto;
  transform: translateY(100%);
  transition: transform $transition-d-time $transition-t-f-cubic;
}
