.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }
}
.container--flex-header {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
  }
}
.container--flex-footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.container--mobile {
  margin-right: 0;
  padding: 0;
}
